HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!moteur/src/test/**/target/
**/out/
**/target/
**/build/
**/javadoc/
**/apidocs/
**/testapidocs/

bin/

*.class
*.log
*.ctxt
.mtj.tmp/
*.bak

### package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.gz

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### MacOS ###
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gradle
**/local.properties

### ECLIPSE ###
**/.project
**/.classpath
**/.settings/
**/.metadata/
**/.recommanders/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!moteur/src/test/**/build/

### VS Code ###
.vscode/
